body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding-left: 0;
}

button {
  width: 100px;
  border-radius: 5px;
  padding: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  margin-left: 0;
  height: 30px;
}

input {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#add-vehicle-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.vehicleCard {
  margin-bottom: 20px;
  /* border: 1px lightgray solid; */
  border-radius: 5px;
  padding: 15px;
  background-color: #e4eaf1;
}

.vehicleCard input {
  margin-right: 5px;
  margin-bottom: 5px;
  width: 80%;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding-left: 5px;
}

.vehicleCard button {
  width: 60px;
  border-radius: 5px;
  padding: 5px;
  border: none;
  background-color: lightgray;
  margin-top: 10px;
  color: #000;
}

.vehicle-info {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
}

.info-row {
  display: contents;
}

.label {
  grid-column: 1;
}

.value {
  grid-column: 2;
  overflow: hidden;
  word-wrap: break-word;
}

.vehicleCard button.delete-image-button {
  width: 100px;
  font-size: 12px;
  margin: 7px;
  border: 1px solid #a62b38;
  background-color: #eb969e;
}

.mobile-ver-only {
  display: none;
}

@media (max-width: 768px) {
  .mobile-ver-only {
    display: block;
  }

  .web-ver-only {
    display: none;
  }

  #add-vehicle-form {
    grid-template-columns: 1fr;
  }
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.info-bar {
  background-color: #022759;
  white-space: nowrap;
  color: white;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1320px;

    > * {
      padding: 0.5rem;
    }
  }

  svg {
    margin-top: -3px;
    font-size: 20px;
  }

  &.long {
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &.short {
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}

.icon-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  min-width: 125px;
  max-width: 200px;

  > * {
    background-color: #0056b3;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 20px;
    padding-left: 7px;

    &::after {
      display: none;
    }

    &:hover {
      background-color: #0b1eeb;
    }
  }
}

.info-nav {
  float: right;
}

.main-bar {
  background-color: #eb0b2d;
  border-bottom: 1px solid #e9ecef;

  > * > * {
    color: white;
  }
}
.info-nav {
  float: right;
}

.main-bar {
  background-color: #eb0b2d;
  border-bottom: 1px solid #e9ecef;

  > * > * {
    color: white;
  }
}

