/*----------------------------------------- common css -----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif !important;
}

.nav-link {
	color: white;

	&:after {
		content: "";
		display: block;
		width: 0;
		height: 2px;
		background: white;
		transition: width 0.3s;
		margin-top: 2px;
	}

	&:hover {
		color: white;
		&:after {
			width: 100%;
		}
	}
}

// @keyframes scale-a-lil {
// 	from {
// 		scale: .5;
// 	}
// }
	
// @media (prefers-reduced-motion: no-preference) {
// 	div {
// 		animation: scale-a-lil linear both;
// 		animation-timeline: view();
// 		animation-range: 25vh 75vh;
// 	}
// }

// /* import bootstrap to set changes */
// @import 'bootstrap/scss/bootstrap';