---
import { Component } from "react";

export interface CardProps {
	caption: string;
}

type props = CardProps;

const { caption } = Astro.props;

---

<style lang="scss">
.card {
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin: 10px;
	aspect-ratio: 1;

	display: flex;
	flex-direction: column;
	gap: 10px;

	// center with space around
	justify-content: center;
	align-items: center;

	font-size: 1em;
}

.caption {
	text-align: center;
}
</style>

<div class="card">
	<slot/>
	<div class="caption">
		{caption}
	</div>
</div>
