---
import {
    FaCheckCircle,
    FaCar,
    FaThumbsUp,
    FaCalendarAlt,
    FaPiggyBank,
    FaSmileBeam,
} from "react-icons/fa";
import { HiMiniWrenchScrewdriver } from "react-icons/hi2";
import { IoRibbon } from "react-icons/io5";

import Card from "./FactCard.astro";
---

<style>
    .icons {
        display: grid;

        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        justify-content: center;
    }

    svg {
        width: 80px;
        max-width: 50%;
        height: 80px;
        max-height: 50%;
        color: var(--color-primary);
    }

    @media (max-width: 768px) {
        .icons {
            display: none;
        }
    }
</style>

<div class="icons">
    <Card caption="Cherokee rewards your progress">
        <FaCheckCircle />
    </Card>

    <Card caption="Vehicles you can trust">
        <FaCar />
    </Card>

    <Card caption="Earning your business again and again">
        <FaThumbsUp />
    </Card>

    <Card caption="12 Month / 12k vehicle service contract">
        <FaCalendarAlt />
    </Card>

    <Card caption="Low down payment options">
        <FaPiggyBank />
    </Card>

    <Card caption="Access to state of the art service center">
        <HiMiniWrenchScrewdriver />
    </Card>

    <Card caption="Amazing referral program">
        <IoRibbon />
    </Card>

    <Card caption="We get almost everyone approved">
        <FaSmileBeam />
    </Card>
</div>
