---
import { Container } from "react-bootstrap";
---

<footer style={{ backgroundColor: "var(--dark-blue)" }}>
    <Container style={{ display: "grid", gridTemplateColumns: "1fr 1fr 1fr" }}>
        <div>
            <h3>Cherokee Auto Sales</h3>
            <p>3423 North Broadway St</p>
            <p>Knoxville, TN 37917</p>
            <p>(865) 687 - 7100</p>
        </div>
        <div>Contact Us</div>
        <div>
            <h3>Hours</h3>
            <p>Monday - Friday: 9:00 AM - 6:00 PM</p>
            <p>Saturday: 9:00 AM - 5:00 PM</p>
            <p>Sunday: Closed</p>
        </div>
    </Container>
</footer>
<footer style={{ backgroundColor: "var(--dark-blue)" }}>
    <Container style={{ display: "grid", gridTemplateColumns: "1fr 1fr 1fr" }}>
        <div>
            <h3>Cherokee Auto Sales</h3>
            <p>3423 North Broadway St</p>
            <p>Knoxville, TN 37917</p>
            <p>(865) 687 - 7100</p>
        </div>
        <div>Contact Us</div>
        <div>
            <h3>Hours</h3>
            <p>Monday - Friday: 9:00 AM - 6:00 PM</p>
            <p>Saturday: 9:00 AM - 5:00 PM</p>
            <p>Sunday: Closed</p>
        </div>
    </Container>
</footer>
