---
import { Container, Row, Col } from "react-bootstrap";
import {
  FaPhoneAlt,
  FaFacebookF,
  FaInstagram,
  FaDollarSign,
  FaMapMarkerAlt,
  FaYoutube,
  FaTiktok,
} from "react-icons/fa";
---

<style lang="scss">
  h3 {
    font-size: 20px;
  }

  .privacy {
    color: white;
    text-decoration: underline;
  }

  .footer {
    background-color: var(--dark-blue);
    padding: 2rem 1rem;
    color: white;
    // display: grid;
    // // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // grid-template-columns: 1fr .5fr .5fr 1fr;
    // gap: 1.5rem;

    .contain {
      width: 100%;
      max-width: var(--max-width);
      margin: 0 auto;
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
      gap: 1.5rem;
    }

    @media (max-width: 800px) {
      .contain {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
    }

    .footer-logo h3 {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .footer-logo img {
      width: 50px;
      height: 50px;
      margin: 0;
    }

    .footer-logo p {
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      margin: 0;
    }

    .footer-contact a {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .footer-hours table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        border: 1px solid #ffffff;
        padding: 0.5rem;
      }

      th {
        text-align: left;
      }

      td {
        text-align: center;
      }

      tr:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
</style>

<footer class="footer">
  <div class="contain">
    <div class="footer-logo">
      <h3>
        <img src="./images/logo.png" alt="Cherokee Auto Sales Logo" />
        Cherokee Auto Sales
      </h3>
      <p>
        Experience Excellence at Cherokee Auto Sales, Knoxville's Premier BHPH
        Dealership. Serving Knoxville and Surrounding Counties. We Help You
        Overcome Credit Challenges With Hand Picked Inventory And Affordable
        Down Payments. YOU ARE WHAT MATTERS MOST!
      </p>
      <br/>
      <p>
        <a href="/privacy" class="privacy">Privacy Policy</a>
      </p>
    </div>
    <div class="footer-contact" id="contact">
      <h3>Contact</h3>
      <a href="tel:(865) 687-7100"><FaPhoneAlt /> (865) 687-7100</a>
      <a href="https://cherokeeautosales.paymycar.com/login"
        ><FaDollarSign /> Payment</a
      >
      <a
        href="https://maps.google.com/?q=3423 North Broadway St, Knoxville, TN 37917"
        target="_blank"><FaMapMarkerAlt /> Directions</a
      >
    </div>

    <div class="footer-contact" id="contact">
      <h3>Socials</h3>
      <a href="https://www.facebook.com/cherokeeautosales" target="_blank"
        ><FaFacebookF /> Facebook</a
      >
      <a href="https://www.youtube.com/@cherokeeautosales5096" target="_blank"
        ><FaYoutube /> Youtube</a
      >
      <a href="https://www.instagram.com/cherokeeautosales" target="_blank"
        ><FaInstagram /> Instagram</a
      >
      <a href="https://www.tiktok.com/@cherokeeautosalestn" target="_blank"
        ><FaTiktok /> Tiktok</a
      >
    </div>

    <div class="footer-hours">
      <h3>Working Hours</h3>
      <table>
        <thead>
          <tr>
            <th>Day</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monday</td>
            <td>9:00am - 6:00pm</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>9:00am - 6:00pm</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>9:00am - 6:00pm</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>9:00am - 6:00pm</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>9:00am - 6:00pm</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>9:00am - 3:00pm</td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>Closed</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Google Tag Manager (noscript) (Fiverr 2-19-26) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54GCCC22"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-56T4X86T"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</footer>
