---
import Layout from '../layouts/Layout.astro';

import allReviews from "../data/reviews.csv?raw";
import { parse } from 'csv-parse/sync';

import Review, { type ReviewProps } from '../components/Review.astro';

import { FaPhoneAlt, FaMapMarkedAlt } from 'react-icons/fa';
		
const reviews = parse(allReviews, {
	columns: true,
	skip_empty_lines: true
}) as ReviewProps[];

import 'swiper/css';
import Button from 'react-bootstrap/Button';
import { Row, Col, Container } from 'react-bootstrap';

import FaqAccordion from '../components/react/Faqct/Faq';
import Icons from '../components/Icons.astro';
import Inventory from '../components/Inventory.astro';
---

<style lang="scss">
	.main-seg {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-family: 'Fira Sans Condensed', sans-serif;
		min-height: calc(100vh - 90px);


		background: linear-gradient(
			rgba(0, 0, 0, 0.35),
			rgba(0, 0, 0, 0.35)
		), 
		url('/images/happyguy.jpg') no-repeat 50% 55%/cover;

		div {
			color: white;
			font-weight: bold;
			font-size: 5rem;
			text-align: center;
		}
	}

	.get-qualified {
		display: flex;
		flex-direction: row;

		justify-content: center;
		align-items: center;
		gap: 2rem;

		font-family: 'Fira Sans Condensed', sans-serif;

		width: 100%;
		padding: 2rem;

		background: var(--dark-blue);

		div {
			color: white;
			text-align: right;
			font-weight: bold;

			// center self on mobile
			@media screen and (max-width: 768px){
				text-align: center;
			}
		}

		.neo-verify {
			height: 100%;
		}

		.neo-verify-iframe {
				position: relative;
				float: left;
				width: 356px;
				height: 100%;
				border: none;

				@media screen and (max-width: 768px){
					// center self
					margin-left: 50%;
					transform: translateX(-50%);
				}
		}
	}

	.reviews {
		font-family: 'Fira Sans Condensed', sans-serif;
		width: 100%;
		padding: 2rem;
	}

	.label {
		font-size: 4rem;
		line-height: 1;
	}

	.sublabel {
		font-size: 2rem;
	}

	#expect_more {
		background: var(--dark-blue);
		padding: 2rem;
	}
</style>

<Layout title="Cherokee Auto Sales">
	<section
		class="main-seg"
		id="home"
	>
		<div>Cherokee Auto Sales</div>
		<Button
			href="https://cherokeeautosalestn.neoverify.com/quick_credit"
			target="_blank"
			size="lg"
		>
			Get Financed
		</Button>
	</section>

	<section
		class="get-qualified"
		id="get-qualified"
	>
		<Row
			className="justify-content-center align-items-center"
		>
			<Col>
				<div class="label">
					Get Pre Approved
				</div>
				<div class="sublabel">
					Fill Out Our Application Form To Get Pre-Qualified
				</div>
			</Col>
			<Col
				class="neo-verify"
				style={{
					height: 520
				}}
			>
				<iframe 
					class="neo-verify-iframe"
					src="https://cherokeeautosalestn.neoverify.com/quick_lead?referral_source=Website&"
				/>
			</div>
		</Row>
	</section>

	<section
		id="testimonials"
		class="reviews"
		style={{
			maxWidth: '100%',
			minWidth: '100%',
			overflowX: 'hidden'
		}}
	>
		<swiper-container
			slides-per-view={5}
			space-between={30}
			loop
			id="reviewSwiper"
			init="false"
			speed={1000}
			style={{
				minWidth: '2000px',
				// center
				marginLeft: '50%',
				transform: 'translateX(-50%)'
			}}
		>
			{
				reviews.map((review, index) => (
					<swiper-slide>
						<Review {...review} />
					</swiper-slide>
				))
			}
		</swiper-container> 

		<script>
			import { register as registerSwiper } from 'swiper/element/bundle';
			import { Autoplay } from 'swiper/modules';
		
			registerSwiper();
		
			const swiperEl = document.getElementById('reviewSwiper');
		
			const params = {
				modules: [Autoplay],
				autoplay: {
					delay: 2500,
				},
			};
		
			// @ts-ignore
			Object.assign(swiperEl, params); swiperEl.initialize();
		</script>		
	</section>

	<section
		id="expect_more"
	>
		<Container>
			<Row
				className="justify-content-center aligh-items-center"
			>
				<Col
					style={{
						minWidth: 'min(300px, 100%)',
						flexGrow: 2
					}}
				>
					<FaqAccordion client:load/>
				</Col>
				<Col
					style={{
						minWidth: 'min(500px, 100%)',
						flexGrow: 1
					}}
				>
					<Icons />
				</Col>
			</Row>
		</Container>
	</section>

	<section
		id="service"
	>
		<Container
			style={{
				padding: '2rem'
			}}
		>
			<Row
				className="justify-content-center aligh-items-center"
			>
				<Col
					style={{
						minWidth: 'min(500px, 100%)',
					}}
				>
					<image
						src="/images/warranty.jpg"
						style={{
							width: '100%',
							maxWidth: '500px',
							borderRadius: '10px'
						}}
					/>
				</Col>
				<Col
					style={{
						minWidth: 'min(300px, 100%)',
						display: 'flex',
						flexDirection: 'column',
						justifyContent: 'center',
						gap: '1rem',
						padding: '1rem'
					}}
				>
					<h3>12 Months / 12,000 Miles vehicle service contract</h3>
					<div>
						2 free oil changes on every vehicle. Security and Peace of Mind come with every purchase. All of our Vehicles come with a 12 month / 12,000 mile vehicle contract.
					</div>
					<Button
						href="/#contact"
						style={{
							maxWidth: '200px'
						}}
					>
						<FaPhoneAlt/> Contact Us Now
					</Button>
				</Col>
			</Row>
			<Row
				className="justify-content-center aligh-items-center"
			>
				<Col
					style={{
						minWidth: 'min(300px, 100%)',
						display: 'flex',
						flexDirection: 'column',
						justifyContent: 'center',
						gap: '1rem',
						padding: '1rem'
					}}
				>
					<h3>Earning your business again and again</h3>
					<div>
						We want your Friends and Family to experience our customer service. Thats why we have one of the best referral programs anywhere. Ask about how you can earn even more.
					</div>
					<Button
						href="/#contact"
						style={{
							maxWidth: '200px'
						}}
					>
						<FaPhoneAlt/> Contact Us Now
					</Button>
				</Col>
				<Col
					style={{
						minWidth: 'min(500px, 100%)',
					}}
				>
					<image
						src="/images/referral.jpg"
						style={{
							width: '100%',
							maxWidth: '500px',
							borderRadius: '10px'
						}}
					/>
				</Col>
			</Row>
		</Container>
	</section>

	<section
		id="inventory"
		style={{
			background: 'var(--dark-blue)',
		}}
	>
		<Container
			style={{
				padding: '2rem',
			}}
		>
			<Row
				className="justify-content-center aligh-items-center"
			>
				<Col>
					<Inventory/>
				</Col>
			</Row>
		</Container>
	</section>

	<section
		id="location"
	>
		<Container
			style={{
				padding: '2rem'
			}}
		>
			<Row
				className="justify-content-center aligh-items-center"
			>
				<Col
					style={{
						minWidth: 'min(500px, 100%)',
					}}
				>
					<image
						src="/images/financingreq.jpg"
						style={{
							width: '100%',
							maxWidth: '500px',
							borderRadius: '10px'
						}}
					/>
				</Col>
				<Col
					style={{
						minWidth: 'min(300px, 100%)',
						display: 'flex',
						flexDirection: 'column',
						justifyContent: 'center',
						gap: '1rem',
						padding: '1rem'
					}}
				>
					<h3>Cherokee Auto Sales</h3>
					<div>
						Discover one of Knoxville, TN's premier selections of pre-owned and certified used vehicles at Cherokee Auto Sales. With our dedication to excellence, we've curated an extensive inventory featuring quality cars, pickups, vans, and SUVs. Visit our convenient locations today and experience unparalleled service. Count on us for free vehicle history reports, competitive pricing, and flexible financing options tailored to your needs. Our experienced sales team is committed to providing unbeatable deals and personalized service, ensuring we match your budget and preferences every time. Whether it's your first visit or your twelfth, Cherokee Auto Sales is here to find you the perfect vehicle at the right price. Experience the Cherokee Auto Sales difference today and let us earn your business.
					</div>
					<Button
						href="/#contact"
						style={{
							maxWidth: '200px'
						}}
					>
						<FaPhoneAlt/> Contact Us Now
					</Button>
				</Col>
			</Row>
			<Row
				className="justify-content-center aligh-items-center"
				style={{
					marginTop: '2rem'
				}}
			>
				<Col>
					<iframe
						title="Map of Locations"
						class="ifEmbed"
						frameborder="0"
						height="350px"
						width="100%" marginheight="0"
						marginwidth="0"
						src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA1Kn5Q5FatDiBjhEvkmjUVbudRQGH-OGA&amp;q=3423%20North%20Broadway,Knoxville,TN,37917"
						style={{
							borderRadius: '10px'
						}}
					/>
					<div
						style={{
							textAlign: 'center'
						}}
					>
						Cherokee Auto Sales Knoxville, Tennessee is here to find you the perfect vehicle.
						<br/><br/>
						<Button
							target="_blank"
							href="https://maps.app.goo.gl/6fcjt2xbFEEW9UBm9"
						>
							<FaMapMarkedAlt/> Get Instant Directions
						</Button>
					</div>
				</Col>
			</Row>
		</Container>
	</section>
</Layout>

