---
import Layout from '../layouts/Layout.astro';
import {Content as PrivacyPolicy} from '../../privacy.md';
import { Container } from 'react-bootstrap';
---
<style>

</style>
<Layout title="Cherokee Auto Sales">
    <section class="hero-section">
        <Container>
        <PrivacyPolicy />
        </Container>
    </section>
</Layout>