ul {
    padding-left: 0;
}

button {
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    margin-left: 0;
}

input {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#add-vehicle-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.vehicleCard {
    margin-bottom: 20px;
    /* border: 1px lightgray solid; */
    border-radius: 5px;
    padding: 15px;
    background-color: #e4eaf1;
}

.vehicleCard input {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 80%;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding-left: 5px;
}

.vehicleCard button {
    width: 60px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: lightgray;
    margin-top: 10px;
    color: #000;
}

.vehicle-info {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
}

.info-row {
    display: contents;
}

.label {
    grid-column: 1;
}

.value {
    grid-column: 2;
    overflow: hidden;
    word-wrap: break-word;
}

.vehicleCard button.delete-image-button {
    width: 100px;
    font-size: 12px;
    margin: 7px;
    border: 1px solid #a62b38;
    background-color: #eb969e;
}

.mobile-ver-only {
    display: none;
}

@media (max-width: 768px) {
    .mobile-ver-only {
        display: block;
    }

    .web-ver-only {
        display: none;
    }
    
    #add-vehicle-form {
      grid-template-columns: 1fr;
  }
}
