---
import { Container, Row, Col } from 'react-bootstrap';
import { parse } from 'csv-parse/sync';
import { InventoryCards } from "../react/InventoryCards"
---

<section id="inventory" style={{ background: 'var(--dark-blue)' }}>
  <Container style={{ padding: '2rem' }}>
    <Row className="justify-content-center align-items-center">
      <Col>
        <InventoryCards client:load/>
      </Col>
    </Row>
  </Container>
</section>
