---
import { Container, Row, Col, Button } from "react-bootstrap";
import { FaPhoneAlt, FaMapMarkedAlt } from "react-icons/fa";
---

<section id="video">
  <Container style={{ padding: "2rem" }}>
    <Row
      className="justify-content-center align-items-center"
      style={{ marginTop: "2rem" }}
    >
      <Col>
        <iframe
          title="Map of Locations"
          class="ifEmbed"
          height="450px"
          width="100%"
          src="https://www.youtube.com/embed/-R0UYHS8A_A?si=FGQSIZ-ykXJWpHPY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          style={{ borderRadius: "10px" }}></iframe>
      </Col>
    </Row>
  </Container>
</section>
